/*--------------------------------------------
MAIN
---------------------------------------------*/
* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #1C1B1A;
}

a, a:visited {
	text-decoration: none;
}

img { border: none; }

/*--------------------------------------------
HEADER
---------------------------------------------*/
#header {
	margin: 0;
	width: 100%;
	height: 60px;
}

#header h1 a, #header h1 a:visited {
	margin: 0;
	padding: 0;
	position: relative;
	top: 10px;
	left: 15px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #1C1B1A;
	z-index: 99;
}	

.header-container {
	width: 100%;
	height: 60px;
	text-align: center;	
}

/* TOGGLE BUTTON */
a#nav-toggle {
	position: relative;
	top: 10px;
	margin: 0 auto;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	cursor: pointer !important;
	z-index: 99;
}

span.toggle-icon {
	position: relative;
	top: 8px;
	cursor: pointer !important;
}

span.toggle-icon hr {
	margin:5px auto; 
	width: 25px; 
	height: 2px; 
	background: #383838;
	border: none;
}

/* MAIN NAV POP UP */
#main-nav {
	position: relative;
	top: 60px;
	margin:0 auto;
	padding: 20px;
	width: auto;
	max-width: 500px;
	min-height: 485px;
	background: #ffffff;
	border: 5px solid #1C1B1A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 15px #1C1B1A;
	-moz-box-shadow: 0 0 15px #1C1B1A;
	box-shadow: 0 0 15px #1C1B1A;
	overflow-y: scroll !important;  
	-webkit-overflow-scrolling: touch !important; 
}

#main-nav .logo {
	margin-bottom: 5px;
	text-align: center;
}

#main-nav h2 {
	margin-bottom: 5px;
	color: #2b7739;
	font-weight: lighter;
}

#main-nav ul#interior-nav {
	margin:20px 60px 15px 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 230px;
}

#main-nav ul#interior-nav li {
	margin-bottom: 10px;
}

#main-nav ul#interior-nav li a, #main-nav ul#interior-nav li a:visited {
	padding-top: 10px;
	display: block;
	color: #383838;
	text-align: center;
	width: 225px;
	height: 30px;
	border: 1px solid #383838;
}

#main-nav ul#interior-nav li a:hover {
	color: #2b7739;
}

/* CONTACT INFO */	
#contact-info {
	margin:20px 0;
	float: left;
	width: 210px;
}

#contact-info h2 {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: regular;
	line-height: 22px;
	color: #383838;
	text-decoration: underline;
}

#contact-info p {
	margin-bottom: 15px;
	font-size: 13px;
}

#contact-info p a, #contact-info p a:visited {
	color: #383838;
}

#contact-info p a:hover {
	color: #2b7739;
}

#contact-info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#contact-info ul li {
	margin-right: 3px;
	display: inline;
}

#contact-info ul li a, #contact-info ul li a:visited {
	opacity: 0.9;
}

#contact-info ul li a:hover {
	opacity: 1;
}

/* MAIN NAV ZOOM EFFECT */
.mfp-zoom-out.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;

  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	transition: all 0.3s ease-out;
}

.mfp-zoom-out.mfp-bg.mfp-ready {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
 	opacity: 0.8;
}

.mfp-zoom-out.mfp-bg.mfp-removing {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;
}

.mfp-zoom-out .mfp-content{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	-ms-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;

	-webkit-transform: scale(1.3);
  	-moz-transform: scale(1.3);
  	-o-transform: scale(1.3);
  	-ms-transform: scale(1.3);
  	transform: scale(1.3);
}

.mfp-zoom-out.mfp-ready .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	opacity: 1;

  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-o-transform: scale(1);
  	-ms-transform: scale(1);
  	transform: scale(1);
}

.mfp-zoom-out.mfp-removing .mfp-content {
 	-webkit-transform: scale(1.3);
  	-moz-transform: scale(1.3);
  	-o-transform: scale(1.3);
  	-ms-transform: scale(1.3);
  	transform: scale(1.3);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;
}

/*--------------------------------------------
INTERIOR HEADER
---------------------------------------------*/
#interior-header {
	margin: 0;
	width: 100%;
	height: 60px;
}


#interior-header h1 a, #interior-header h1 a:visited {
	margin: 0;
	padding:0 15px 0 0;
	position: relative;
	top: 10px;
	left: 20px;
	float: left;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #1C1B1A;
	border-right: 2px solid #ffffff;
	z-index: 99;
}	

#interior-header h2 {
	margin: 0;
	padding:0 0 0 15px;
	position: relative;
	top: 22px;
	left: 20px;
	float: left;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #ffffff;
	font-style: italic;
	text-shadow: 1px 1px 1px #1C1B1A;
	z-index: 99;
}

/*--------------------------------------------
FEATURE SLIDER
---------------------------------------------*/
#feature-slider {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

#feature-slider ul.slides li {
	width: 100%;
	min-height: 700px;
}

#feature-slider ul.flex-direction-nav li a.flex-prev {
	font-size: 32px;
	color: #383838;
	background: #f0f0f0;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	cursor: pointer !important;
}

#feature-slider ul.flex-direction-nav li a.flex-next {
	font-size: 32px;
	color: #383838;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	cursor: pointer !important;
}

span.arrow-prev {
	position: relative;
	top: -1px;
	left: 9px;

}

span.arrow-next {
	position: relative;
	top: -1px;
	left: 1px;
}

/*--------------------------------------------
INTERIOR SLIDER
---------------------------------------------*/
#interior-slider {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	min-height: 620px;
}

#interior-slider ul.slides li {
	width: 960px;
	min-height: 620px;
}

#interior-slider ul.flex-direction-nav li a.flex-prev {
	font-size: 32px;
	color: #383838;
	background: #f0f0f0;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	cursor: pointer !important;
}

#interior-slider ul.flex-direction-nav li a.flex-next {
	font-size: 32px;
	color: #383838;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	cursor: pointer !important;
}

/*--------------------------------------------
FOOTER
---------------------------------------------*/
#footer p {
	position: absolute;
	bottom: 3px;
	right: 5px;
	font-size: 10px;
	color: #f0f0f0;
	z-index: 999;
}
/*--------------------------------------------
MISC
---------------------------------------------*/
.clear { clear:both; float:none; }
.push { height: 125px; }